USE [Project]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 11/17/2020 18:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[cid] [int] IDENTITY(1,1) NOT NULL,
	[cname] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 11/17/2020 18:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Products](
	[pid] [int] IDENTITY(1,1) NOT NULL,
	[pname] [nvarchar](max) NOT NULL,
	[pprice] [float] NOT NULL,
	[pshortdesc] [nvarchar](max) NOT NULL,
	[pdesc] [nvarchar](max) NOT NULL,
	[pthumbnail] [varchar](max) NOT NULL,
	[cid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/17/2020 18:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[uid] [int] IDENTITY(1,1) NOT NULL,
	[fullName] [nvarchar](150) NOT NULL,
	[address] [nvarchar](max) NOT NULL,
	[userName] [varchar](150) NOT NULL,
	[password] [varchar](150) NOT NULL,
	[email] [varchar](150) NOT NULL,
	[phoneNumber] [varchar](150) NOT NULL,
	[isAdmin] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([cid], [cname]) VALUES (1, N'Mèo Anh')
INSERT [dbo].[Categories] ([cid], [cname]) VALUES (2, N'Mèo Ba Tư')
INSERT [dbo].[Categories] ([cid], [cname]) VALUES (3, N'Mèo Xiêm')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([uid], [fullName], [address], [userName], [password], [email], [phoneNumber], [isAdmin]) VALUES (1, N'Bùi Nam Ngọc', N'Ninh Bình', N'namngoc', N'123', N'ngocbnhe141014@fpt.edu.vn', N'0866199497', 1)
INSERT [dbo].[Users] ([uid], [fullName], [address], [userName], [password], [email], [phoneNumber], [isAdmin]) VALUES (4, N'Bui Nam Anh', N'Ninh Binh', N'namanh', N'123', N'ngobaochau0103@gmail.com', N'0866099499', 0)
INSERT [dbo].[Users] ([uid], [fullName], [address], [userName], [password], [email], [phoneNumber], [isAdmin]) VALUES (5, N'Nguyen Tien Dat', N'Hai Phong', N'tiendat', N'123', N'longpthe14072@fpt.edu.vn', N'123456788', 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Users__4849DA01750D5CCB]    Script Date: 11/17/2020 18:23:06 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[phoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Users__66DCF95CE32D73AC]    Script Date: 11/17/2020 18:23:06 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Users__AB6E61642B3263D6]    Script Date: 11/17/2020 18:23:06 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([cid])
REFERENCES [dbo].[Categories] ([cid])
GO
